@{
  Layout = "_Layout";
}

@model GuitarVendor.Models.Guitar

<h2>Are you sure you want to delete this guitar?</h2>

<h4>@Html.DisplayFor(model => model.Year) @Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Model)</h4>

@using (Html.BeginForm())
{
  <input type="submit" class="btn btn-primary" value="Delete"/>
}
<br>
<p>@Html.ActionLink("Back to guitar list", "Index")</p>