@{
  Layout = "_Layout";
}

@using GuitarVendor.Models

<h1>Guitar Vendor</h1>

<h2>Keep track of guitars and the stores that sell them!</h2>

<hr>

<p>@Html.ActionLink("View all guitars", "Index", "Guitars")</p>
<p>@Html.ActionLink("View all stores", "Index", "Stores")</p>